*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%
	display: grid;
	place-items:center;
	background:url(../images/background.jpg);
	text-align: center;
}
.logo{
	position: absolute;
	top:10%;
	left: 8.5%;
	transform: translate(-50%,-50%);
}

nav ul{
	position: absolute;
	top:10%;
	left: 73%;
	transform: translate(-50%,-50%);
	display: flex;
}
nav ul li{
	width: 96px;
	list-style: none;
	line-height: 30px;
}
nav ul li a{
	position: relative;
	display: block;
	text-align: center;
	padding: 10px 15px;
	margin: 15px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: scaleY(1.3);
	opacity: 0;
	transition: .5s;
}
nav ul li a:hover:before{
	transform: scaleY(0.8);
	opacity: 1;
}
table{
	margin: 5px auto;
}
.fxrw{
	position: absolute;
	top: 150px;
	left: 45%;
}
.fxrw h1{
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
}
td{
	padding: 20px 0;
}
.container{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1200px;
}
.middle{
	/* display: flex; */
	align-items: center;
	justify-content: space-between;
	height: 950px;
}
.fxrw1{
	/* position: absolute; */
	top: 150px;
	left: 45%;
}
.middle .fxrw1 h1{
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
}

.card{
	width: 250px;
	height: 250px;
	background-color: #fff;
	margin: 0 20px;
	transition: 0.4s;
	/*box-shadow: 2px 2px 10px rgba(0,0,0,0.2);*/
}
.card:hover{
	height: 470px;
}
.card img{
	width: 250px;
	height: 200px;
	width: 100%;
	object-fit: cover;
}
.card .top-text{
	padding: 5px;
}
.card .top-text .name{
	font-size: 25px;
	font-weight: bold;
	color: #202020;
}
.card .bottom-text{
	padding: 0 20px 10px 20px;
	margin-top: 5px;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	transition: 0.1s;
}
.card:hover .bottom-text{
	opacity: 1;
	visibility: visible;
}
.card .bottom-text .text{
	text-align: justify;
}
.card .bottom-text .btn{
	margin: 10px 0;
	text-align: left;
}
.card .bottom-text .btn a{
	text-decoration: none;
	background: #004B97;
	color: #fff;
	padding: 5px 8px;
	border-radius: 3px;
	display: inline-flex;
	transition: 0.2s;
}
.card .bottom-text .btn a:hover{
	transform:scale(0.9);
}
.md{
	width: 48px;
	height:48px;
	position: fixed;
	right: 10px;
	bottom: 30px;
}
footer{
	margin-top: 5px;
	line-height: 20px;
	color: #ccc;
	text-align: center;
	font-size: 12px;
}