*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

body{
	background: url(../images/background.jpg);
}
.logo{
	position: absolute;
	top:10%;
	left: 8.5%;
	transform: translate(-50%,-50%);
}
nav ul{
	position: absolute;
	top:10%;
	left: 73%;
	transform: translate(-50%,-50%);
	display: flex;
}
nav ul li{
	width: 96px;
	list-style: none;
	line-height: 30px;
}
nav ul li a{
	position: relative;
	display: block;
	text-align: center;
	padding: 10px 15px;
	margin: 15px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: scaleY(1.3);
	opacity: 0;
	transition: .5s;
}
nav ul li a:hover:before{
	transform: scaleY(0.8);
	opacity: 1;
}
h1{
	text-align: center;
	color: #000;
	margin-bottom: 30px;
}
.bigbox{
	width: 1250px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	height: 2900px;
}
.content{
	margin-top: 140px;
	width: 1200px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;

}
.content .title{
	margin-top: 120px;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
	height: 80px;
	line-height: 80px;
}
.content a{
	color: #000;
}
.content a:hover{
	color: #004B97;
}
.content .card{
	margin-bottom: 30px;
	width: 1200px;
	height: 250px;
	border-bottom: 1px solid #ccc;
}
.content .card img{
	float: left;
	width: 400px;
	height: 245px;
	margin-bottom: 5px;
	margin-right: 10px;
}
.content .card .text{
	background-color: #fff;
	color: #000;
	float: left;
	width: 750px;
	height: 250px;
}
.content .card .text p{
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
	text-align: justify;
}
.md{
	width: 48px;
	height:48px;
	position: fixed;
	right: 10px;
	bottom: 30px;
}
footer{
	margin-top: 24px;
	line-height: 20px;
	color: #ccc;
	text-align: center;
	font-size: 10px;
}