*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
}
.logo{
	position: absolute;
	top:10%;
	left: 8.5%;
	transform: translate(-50%,-50%);
}
nav ul{
	position: absolute;
	top:10%;
	left: 73%;
	transform: translate(-50%,-50%);
	display: flex;
}
nav ul li{
	width: 96px;
	list-style: none;
	line-height: 30px;
}
nav ul li a{
	position: relative;
	display: block;
	text-align: center;
	padding: 10px 15px;
	margin: 15px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: scaleY(1.3);
	opacity: 0;
	transition: .5s;
}
nav ul li a:hover:before{
	transform: scaleY(0.8);
	opacity: 1;
}
.content{
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	margin-top: 20px;
}
.content h1{
	float: left;
	font-size: 35px;
	border-bottom: 4px solid #191970;
	margin-bottom: 40px;
	padding: 13px 0px;
}
.content .textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #191970;
}
.content .textbox img{
	width: 26px;
	height: 26px;
	float: left;
	text-align: center;
}
.content .textbox input,textarea{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 16px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.content .textbox textarea{
	color: #757575;
}
.btn{
	width: 100%;
	background: none;
	border: 2px solid #191970;
	border-radius: 5px;
	color: white;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin: 12px 0;
}
footer{
	width: 300px;
	position: absolute;
	top: 96%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: 30px;
	line-height: 20px;
	color: #ccc;
	text-align: center;
	font-size: 12px;
}