*{
	padding: 0px;
	margin: 0px;
}
body{
	background: url(../images/background.jpg);
}
.logo{
	position: absolute;
	top: 10%;
	left: 8.5%;
	transform: translate(-50%,-50%);
}
nav ul{
	position: absolute;
	top: 10%;
	left: 73%;
	transform: translate(-50%,-50%);
	display: flex;
}
nav ul li{
	width: 96px;
	list-style: none;
	line-height: 30px;
}
nav ul li a{
	position: relative;
	display: block;
	text-align: center;
	padding: 10px 15px;
	margin: 15px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: scaleY(1.3);
	opacity: 0;
	transition: .5s;
}
nav ul li a:hover:before{
	transform: scaleY(0.8);
	opacity: 1;
}
.content{
/* 	height: 1110px; */
	height: 7250px;
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}

.content .title{
	margin-top: 120px;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #ccc;
}
.content .leftcolumn{
	width: 800px;
	height: 7120px;
	margin-left: 10px;
	float: left;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}
.content .leftcolumn .card1{
	height: 420px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card1 .date{
	float: left;
	width: 50px;
	height: 420px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card1 .text{
	height: 200px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card1 .text p{
	font-size: 14px;
	line-height: 30px;
	/* text-indent: 2em; */
}

.content .leftcolumn .card2{
	height: 2750px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card2 .date{
	float: left;
	width: 50px;
	height: 2750px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card2 .text{
	height: 200px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card2 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}

.content .leftcolumn .card3{
	height: 690px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card3 .date{
	float: left;
	width: 50px;
	height: 690px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card3 .text{
	height: 200px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card3 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}


.content .leftcolumn .card4{
	height: 345px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card4 .date{
	float: left;
	width: 50px;
	height: 345px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card4 .text{
	height: 200px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card4 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}

.content .leftcolumn .card5{
	height: 1260px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card5 .date{
	float: left;
	width: 50px;
	height: 1260px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card5 .text{
	height: 200px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card5 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}


.content .leftcolumn .card6{
	height: 220px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card6 .date{
	float: left;
	width: 50px;
	height: 220px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card6 .text{
	height: 220px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card6 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}


.content .leftcolumn .card7{
	height: 460px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card7 .date{
	float: left;
	width: 50px;
	height: 460px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card7 .text{
	height: 220px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card7 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}


.content .leftcolumn .card8{
	height: 320px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card8 .date{
	float: left;
	width: 50px;
	height: 320px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card8 .text{
	height: 220px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card8 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}


.content .leftcolumn .card9{
	height: 460px;
	width: 800px;
	margin-bottom: 20px;
}
.content .leftcolumn .card9 .date{
	float: left;
	width: 50px;
	height: 460px;
	margin-right: 10px;
	margin-left: 25px;
	border-right: 3px solid gray;
}
.content .leftcolumn .card9 .text{
	height: 220px;
	/* width: 585px; */
	width: 687px;
	float: right;
	margin-right: 25px;
}
.content .leftcolumn .card9 .text p{
	font-size: 14px;
	line-height: 20px;
	/* text-indent: 2em; */
}
.content .rightcolumn{
	width: 340px;
	margin-left: 20px;
	margin: 0 auto;
	float: right;
	height: 7120px;
}
.content .rightcolumn .ss{
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 60px;
}
.content .rightcolumn .tp{
	width: 300px;
	
}
.content .rightcolumn img{
	border-radius: 15px;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
	margin-bottom: 200px;
}
.md{
	width: 48px;
	height:48px;
	position: fixed;
	right: 10px;
	bottom: 30px;
}
footer{
	margin-top: 20px;
	line-height: 20px;
	color: #ccc;
	text-align: center;
	font-size: 10px;
}
.date h3{
	writing-mode: tb-rl;
	padding:50% 0px 50% 0px; 
}