*{
	padding: 0px;
	margin: 0px;
}
.bigbox{
	width: 100%
}
a{
	text-decoration: none;
}
.bannar{
	top: -20px;
}
.logo{
	position: absolute;
	top:10%;
	left: 8.5%;
	transform: translate(-50%,-50%);
}
nav ul{
	position: absolute;
	top:10%;
	left: 73%;
	transform: translate(-50%,-50%);
	display: flex;
}
nav ul li{
	width: 100px;
	list-style: none;
	line-height: 30px;
}
nav ul li a{
	position: relative;
	display: block;
	text-align: center;
	padding: 10px 15px;
	margin: 15px 0;
	font-size: 16px;
	color: #fff;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: scaleY(1.3);
	opacity: 0;
	transition: .5s;
}
nav ul li a:hover:before{
	transform: scaleY(0.8);
	opacity: 1;
}
.news{
	height: 700px;
}
.news .title{
	text-align: center;
	line-height: 60px;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	width: 500px;
	height: 60px;
	background-color: #004B97;
	margin: 0 auto;
}
.news .bigcard{
	width: 100%;
	clear: left;
	margin-right: auto;
	margin-left: auto;
	height: 640px;
}
.bigcard video{
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.yhy{
	background:url(../images/yhy_bj.jpg);
	background-attachment:fixed;//固定宇航员页面背景
	background-repeat: no-repeat;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 100%;
}
.yhy .container{
	position: relative;
	width: 600px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.yhy .container .box{
	position: relative;
	width: 110px;
	height: 135px;
	overflow: hidden;
	transition: 0.5s;
}
.yhy .container .box:hover{
	z-index: 1;
	transform: scale(1.25);
	box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.yhy .container .box .imgBX{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.yhy .container .box .imgBX:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(180deg,#ccc,#000);
	mix-blend-mode: multiply;
	opacity: 0;
	transition: 0.5s;
}
.yhy .container .box:hover .imgBX:before{
	opacity: 1;
}
.yhy .container .box .imgBX img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.yhy .container .box .content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	padding: 20px;
	align-items: flex-end;
}
.yhy .container .box .content h3{
	color: #fff;
	transition: 0.5s;
	margin-bottom: 40px;
	font-size: 14px;
	transform: translateY(200px);

}
.yhy .container .box:hover .content h3{
	transform: translateY(0);
}
.yhy .title{
	text-align: center;
	color: #fff;
	line-height: 40px;
	margin-bottom: 20px;
}
.htzs{
	height: 520px;
	background-color: #fff;
}
.htzs img{
	width: 300px;
	height: 200px;
}
.htzs .title{
	text-align: center;
	color: #000;
	font-size: 28px;
	font-weight: bold;

}
.htzs .content1{
	float: left;
	width: 610px;
	height: 200px;
	margin: 20px 30px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
.htzs .content2{
	float: right;
	width: 610px;
	height: 200px;
	margin: 20px 30px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.htzs .content3{
	clear: both;
	float: left;
	width: 610px;
	height: 200px;
	margin: 20px 30px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
.htzs .content4{
	clear: right;
	float: right;
	width: 610px;
	height: 200px;
	margin: 20px 30px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
.htzs .img{

	float: left;
	margin-right: 10px;
}
.htzs .text{
	width: 300px;
	height: 200px;
	float: right;
	line-height: 40px;

}
.htzs .text h2{
	margin-bottom: 10px;
}
.htzs .text a{
	color: #000;
}
.htzs .text p{
	font-size: 14px;
	line-height: 30px;
}
.md{
	width: 48px;
	height:48px;
	position: fixed;
	right: 10px;
	bottom: 30px;
}
footer{
	margin-top: 16px;
	line-height: 20px;
	color: #ccc;
	text-align: center;
	font-size: 10px;
}
/* .gg{
	width: 100%;
	height:20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
} */
.gg{
	width: 100%;
	/* background: lightblue; */
	padding: 20px 0;
}
.gg::after{
	content: '';
	display: block;
	clear: both;
}
.titl{
	float: left;
	font-size: 16px;
	font-weight: normal;
	margin-left: 20px;
	/* margin: 0; */
	margin-top: -10px;
	border-right: 3px solid #ccc;
	padding-right: 30px;
	padding-left: 30px;
	color: white;
}
.list1{
	float: left;
	list-style: none;
	padding: 0;
	height: 30px;
	overflow: hidden;
	/* margin: 0; */
	margin-top: -15px;
	margin-left: 50px;
}
.list1 li{
	
	height: 30px;
	line-height: 30px;
	color: white;
}

